<% layout("/layouts/boilerplate") %>

<div class="container mt-5">
  <h3>Category: <%= category %></h3>

  <% if (listings.length === 0) { %>
    <div class="alert alert-warning mt-4">No listings found in this category.</div>
  <% } else { %>
    <div class="row">
      <% listings.forEach(listing => { %>
        <div class="col-md-4 mb-4">
          <div class="card col listing-card">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 17rem" />
            <div class="card-body">
              <h5 class="card-title mt-3"><%= listing.title %></h5>
              <p class="card-text"><%= listing.description %></p>
              <a href="/listings/<%= listing._id %>" class="btn btn-primary mt-2">View</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } %>
</div>
